<%- include('partials/header') -%>
  <div class="container">
    <div class="">
      <ul class="flex flex-row gap-x-8">
        <% for(var i=0; i<games.length; i++) {%>
          <li class="">
            <a href="/game/<%= games[i]._id%>">
              <div class="card w-72 bg-base-100 shadow-xl">
                <figure><img class="img-fluid" src="<%= games[i].image%>" alt="cover-image" class="h-0.5"></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    <%= games[i].title%>
                    <div class="badge badge-secondary">NEW</div>
                  </h2>
                  <p><%= games[i].description%></p>
                  <div class="card-actions justify-end">
                    <div class="badge badge-outline"><%= games[i].gameType%></div> 
                    <div class="badge badge-outline"><%= games[i].location%></div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>