<%- include('partials/header') -%>
  <div class="container">
    <div class="">
      <% for(var i=0; i<.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/game/<%= games[i]._id%>">
            <img class="img-fluid" src="<%= games[i].title%>">
            <img class="img-fluid" src="<%= games[i].dateAndTime%>">
          </a>
        </li>
      <% }%>
    </div>
  </div>  
<%- include('partials/footer') -%>